:root {
    --color-navbar: #040D12;
    --color-section1: #183D3D;
    --color-section2: #5C8374;
    --color-footer: #93B1A6;
    --color-text-light: #bfe9d8;
    --color-text-hover: #14ffa1d4;
    --color-text-dark: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-section1);
    font-size: 20px;
}

/*****************************************/
/*                  HEADER               */
/*****************************************/

header {
    align-items: center;
    background-color: var(--color-navbar);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position:fixed;
    width: 100%;
}

.header-logo {
    align-items: center;
    display: flex;
    flex: 1;
}

.header-logo img {
    margin-right: 10px;
    width: 60px;
}

.header-logo h1 {
    color: var(--color-text-light);
    font-size: 1.5em;
    transition: color 1s ease;
}

.header-logo h1:hover {
    color: var(--color-text-hover);
}


.header-navegacion {
    flex: 1;
}

.nav-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-lista li {
    margin-left: 20px;
}

.nav-lista li a {
    color: var(--color-text-light);
    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav-lista li a:hover {
    color: var(--color-text-hover);
}



main {
    background: linear-gradient(90deg, rgba(4,13,18,1) 0%, rgba(24,61,61,1) 35%, rgba(92,131,116,1) 100%);
}


/*********************************************/
/*              PRESENTACION                 */
/*********************************************/

.presentacion {
    display: flex;
    height: 100vh; /*Alto completo de la pantalla*/
    align-items: center;
}

.contenedor-presentacion{
    background-color: #040D12;
    border: 10px solid black;
    color: var(--color-text-light);
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}

#saludo {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
}

#nombre {
    font-size: 2rem;
    padding: 0.25rem;
}

#descripcion {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.contenedor-iconos {
    margin: 10px;
    height: 100px;
}

.lista-iconos {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content:space-evenly;
    list-style-type: none;
    width: 100%;
}

.lista-iconos li {
    width: 50px;
}

.lista-iconos li a img {
    transition: width 0.3s ease;
    width: 2rem;
}

.lista-iconos li a img:hover {
    width: 2.5rem;
}

.contenedor-imagen-perfil {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen-perfil img {
    border-radius: 40%;
    width: 400px;
}

/*********************************************/
/*              SOBRE MI                     */
/*********************************************/

.sobre-mi {
    background-color: #040D12;
    border: 10px solid black;
    color: var(--color-text-light);
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.sobre-mi h2 {
    font-size: 2rem;
    padding: 2rem 0;
}


.contenedor-sobre-mi {
    display: flex;
    flex-wrap: wrap;
}

.estudios {
    flex: 1;
}

.sobre-mi-imagen {
    flex: 1;
    align-content: center;
}

.habilidades ul {
    list-style-type: none;
}

/*********************************************/
/*              TECNOLOGÍAS                     */
/*********************************************/

.conocimientos {
    display: flex;
    flex-wrap: wrap;

}

.tecnologias {
    background-color: #040D12;
    border: 10px solid black;
    color: var(--color-text-light);
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.lista-tecnologias {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0px;
}

.contenedor-tecnologia {
    background-color: white;
    flex: 1;
    margin: 5px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    text-align: center;
    padding: 10px;
    transition: border 0.3s ease;
}

.contenedor-tecnologia:hover{
    border: 10px solid var(--color-section1);
}

.contenedor-tecnologia img {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
}

.contenedor-tecnologia p {
    color: var(--color-text-dark);
}




.cursos {
    background-color: #040D12;
    border: 10px solid black;
    color: var(--color-text-light);
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}



/*********************************************/
/*              PIE DE PAGINA                */
/*********************************************/

footer {
    background-color: var(--color-navbar);
    color: var(--color-footer);
    text-align: center;
    width: 100%;
}