* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

html {
    scroll-behavior: smooth;
    background-color: #333;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #040D12;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 60px;
    margin-right: 10px;
}

.header-logo h1 {
    text-decoration: none;
    color: #93B1A6;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px
}

nav ul li a{
    text-decoration: none;
    color: #93B1A6;
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav ul li a:hover{
    color: #217d30;
}



/**     PRESENTACION        **/
.presentacion {
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    height: 100vh;
}

.presentacion .contenedor-presentacion {
    height: 40%;
    width: 40%;
    padding: 20px 30px;
    margin-top: -5rem;
    overflow-y: auto;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.presentacion .contenedor-presentacion pre {
    white-space: pre-wrap; 
    word-break: break-all; 
    overflow-x: auto;
    color: #93B1A6;
    background-color: #0C0C0C;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    border-radius: 5px;
}

.presentacion .contenedor-imagen-perfil img{
    background-size: cover;
    border-radius: 50% 80% 60%;
    margin: 0 auto;
}

